.Carousel {
  width: 494px;
  height: 523px;
  display: flex;
  //border: 1px solid #fff;
  content: "";
  overflow: hidden;
  &_Arrows {
    bottom: 0;
    position: absolute;
    width: 150px;
    margin-left: 15px;
    display: flex;
    justify-content: space-around;

    &__right {
      rotate: 180deg;
    }
    &__right , &__left {
      cursor: pointer;
      z-index: 3;
    }
  }
  &_inner {
    display: block;
    position: absolute;
    width: 494px;
    z-index: 1;
    height: 523px;
    overflow: hidden;
  }
}
.CarouselItems {
    display: block;
  position: relative;
  width: 1500px;
  height: 1040px;
  rotate: 360deg;
  top: -810px;
  left: -464px;
  transition: rotate 0.5s ease-in-out;
  &_item {
    width: 500px;
    height: 500px;
    pointer-events: none;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.CarouselItems_item1 {
  position: absolute;
  top: -55px;
  left: 0;
  rotate: 120deg;
}
.CarouselItems_item2 {
  position: absolute;
  bottom: -295px;
  left: calc(50% - 270px);
}
.CarouselItems_item3 {
  position: absolute;
  top: 0;
  right: 0;
  rotate: -120deg;
}