@import '../../../ui_local/ui_local.scss';
.SpeedometerBlock {
  margin: 0;
  overflow: hidden;
  display: flex;
  gap: 35px;
  align-items: center;
  justify-content: center;

}
.Speedometer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 370px;
  height:370px;
  position: relative;
  background: #000;
  border-radius: 100%;
  &_center {
    display: flex;
    width: 38px;
    height: 38px;
    z-index: 2;
    content: "";
    background: #fff;
    border-radius: 50%;
    transition: background-color 0.5s ease-in-out;
  }
  &__arrow {
    left: 120px;
    top: calc(50% - 26px);
    z-index: 1;
    position: absolute;
    transform-origin:65px 27px;
    transition: rotate 0.5s ease-in-out;
    svg {
      transition: rotate 0.5s linear;
    }
  }
  &__ellipse {
    position: absolute;
    top: 12.5px;
  }
}
.ButtonLevelBlock {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.ButtonLevelItem1 {
  @include regularButton(#7A0BC0);
}
.ButtonLevelItem2 {
  @include regularButton(#0B8AC0);
}
.ButtonLevelItem3 {
  @include regularButton(#E105E5);
}
